<br>
<br>
header
<h1>koushik</h1>
<h2>koushik</h2>
<h3>koushik</h3>
<h4>koushik</h4>
<h5>koushik</h5>
<h6>koushik</h6>

small
<p>My Name Is Kousik <small> Mazumder</small> </p>


marked
<mark>BITM</mark>

<br></br>
deleted
<del>This line of text is deleted.</del>
<br></br>

underlined

<u>Underlinde the sentece</u>
<br></br>
bold
<br></br>
<b>This is bold</b>
<br></br>
Italic
<i>This Is italic</i>
<br></br>
Block <blockquote>Helo how r you
    i am fine
    how are you???</blockquote>
<br></br>


The <abbr title="Bangladesh Cricket Board">BCB</abbr> was founded in jani na

<br></br>

Do the work<acronym title="as early as possible">
    ASAP</acronym>.
<br></br>
Email us

Address: 281 pathorghata kotoali chittagong

Phone: 01760700190

<address>
    Written by koushik <br>
    <a href="koushik1320033@gmail.com">Email us</a><br>
    Address: 281 pathotghata kotoali chittagong <br>
    Phone: 01760700190
</address>
<br></br>
<bdodir="rtl">

This is LIVEOUTSOURCE.COM

</bdo>

<br></br>

This is realy <big>BIG</big>

<p>for replacing the array we use<code>array_replace_recursive</code></p>


<br></br>

<p>2<sup>3</sup>=8</p>




















</body>


</html>